<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para troca de senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isso, por favor ignore essa mensagem.</p>
<p>Sua senha não será alterada a não ser que você entre no link e altere a mesma.</p>
